<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
<div id="app">
    
    <p>List Buku</p>
    <ul>
        <li v-for="list in lists" v-bind:value="list">{{ list }}</li>
    </ul>

<input
type="text"
name="keyword"
id="keyword"
autocomplete="off"
v-model="keyword"
@keyup="search()"
/>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script>

    var app = new Vue({
        el: "#app",
        data: {
            keyword: "",
            lists: 
            [
                    "Kalkulus Dasar",
                    "Fisika Dasar",
                    "Aljabar Linier Elementer",
                    "Aljabar Abstrak",
                    "Algoritma Pemograman",
            ],
        },
    
    computed: {
    search: function(){
        this.lists = this.lists.filter((item) =>
        item.toLowerCase().includes(this.keyword.toLowerCase()));
        console.log(this.lists);
        },
    },
});
</script>
</body>
</html>